body{

font-family:Arial,sans-serif;

background:#f4f4f4;

padding:20px;

}

.container{

width:80%;

margin:auto;

}

input,
select,
button{

width:100%;

padding:10px;

margin:10px 0;

}

table{

width:100%;

border-collapse:collapse;

background:white;

}

th,
td{

border:1px solid #ddd;

padding:10px;

text-align:center;

}