body{

font-family:Arial,sans-serif;

background:#f4f4f4;

margin:0;

padding:0;

}

.container{

width:80%;

margin:auto;

padding:20px;

}

h1{

text-align:center;

}

.formulario{

background:white;

padding:20px;

border-radius:10px;

margin-bottom:20px;

}

input,
select,
button{

display:block;

width:100%;

padding:10px;

margin:10px 0;

}

table{

width:100%;

background:white;

border-collapse:collapse;

}

th,
td{

border:1px solid #ddd;

padding:10px;

text-align:center;

}

button{

cursor:pointer;

}